body{
	background: url("../imgs/bg2.jpg"), #3c425c;
	background-position-x: center;
	background-repeat: no-repeat;
	font-family: 'Playfair Display', serif;
}

a{
	color: white ;
}

a:hover{
    color: #f3f3f3;
    text-decoration: none;
    transition: all 0.5s ease;
}

/* HEADER */

header{
	text-align: left;
	position: fixed;
	top: 0;
	z-index: 1000;
	padding: 10px 0 10px 0;
	font-size: 0.8em;
	letter-spacing: 2px;
	color: white;
}

ul{
	padding-left: 0;
	margin: 0 !important;
}

nav{
	margin-left: 0;
	padding-left: 0;
}

li{
	list-style: none;
	display: inline-flex;
	text-transform: uppercase;
	margin-right: 20px;
}

#adminMenu{
	float: right;
	position: relative;
}

#adminMenu > ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}

#adminMenu:hover>ul{
	display: block;
}

/* BRAND */

#brand{
	color: white;
	text-align: center;
	margin: 130px 0 130px 0;
}

#brand h1{
	position: relative;
	font-size: 6rem;
	display: inline-block;
}

#brand h1 .topBrand{
	position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
}

#brand h1 .botBrand{
	position: absolute;
	bottom: -10px;
	font-size: 1rem;
    right: 0px;
    font-style: italic;
}


/* ARTICLES */

main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    padding: 0 2% 0 2%;
}

#homeNews{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

section h2,h3{
	text-align: left;
}

section{
	display: flex;
	flex-direction: column;
	margin-bottom: 2%;
	width: 100%;
	transition: .3s ease-in;
	color: white;
}

.articleInfos{
	flex-direction: column;
}

.articleInfos h2{
	font-size: 4rem;
	transition: .2s ease-out;
}

.articlePreview{
	flex-direction: column;
}

.articlePreview a{
	float: right;
}

article{
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer{
	text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ADMIN */

input{
	margin-bottom: 5%;
}

input{
	color: white !important;
	background-color: #212529 !important;
}

.fa-newspaper, .fa-comments{
	font-size: 10rem;
}

td, th {
    padding-right: 2%;
    border-bottom: 2px solid #8c8b8b;
}
input:-webkit-autofill, input:focus:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 100px #212529 inset;
   -webkit-text-fill-color: white;
}

hr.line{
	width: 90%;
	border-top: 3px double #8c8b8b;
}


/* ADMIN PANEL */

#adminPanel{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
}

#adminPanel>div{
	margin-right: 5%;
	text-align: center;
}

.button {
  border: 2px solid #444;
  border-radius: 3px;
  background: linear-gradient(to right, #444 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  padding: 10px;
}

.button:hover {
  background-position: left bottom;
  color: white;
}

table{
	margin-bottom: 2%;
}

.redflag{
	color: red;
}

.comment{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2%;
}

#commIcons{
	flex-direction: row;
}

@media (min-width: 768px){

	#brand h1 .botBrand{
	    right: -110px;
	}

	.articlePreview p{
		transition: .3s;
	}

	section:hover h2{
		padding-left: 20px;	
	}

	section:hover .articlePreview p{
		color:  #dae3e6;
	}


	.articleInfos{
	flex-direction: column;
	max-width: 38%;	
	}

	.articleInfos h2{
		font-size: 4rem;
	}

	.articlePreview{
		flex-direction: column;
		padding-left: 160px;
	}

	#adminPanel{
		flex-wrap: nowrap;
	}

}